

 /* General styling */
body {
    font-family: Arial, sans-serif;
    text-align: center; /* Center-align body content by default */
}

/* Center-align heading */
.center-align {
    text-align: center;
}

/* Styling for tables */
.middle {
    width: 100%; /* Set table width to 80% of the page */
    margin-bottom: 50px;
    border-collapse: collapse; /* Merges borders */
    border-spacing: 1px; /* Adds space between cells */
    border: 1px solid black;
}

.middle td {
    border: 1px solid black; /* Cell border */
    padding: 5px; /* Cell padding */
	height:10px;
}

/* table -2 */
.table-2 ,tr ,td{
	widht: 100%;
	border:2px solid ;
}




/* Special styling for Table 3 */
.green {
    background-color: green;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

#t11 ,#t21, #t31{
	text-align:left;
}
.right{
	text-align:right;
}
#t12,22,32{
	text-align:center;
}

