

  /* General styling  */
body {
    font-family: Arial, sans-serif;
    text-align: center; 
}

.center-align {
    text-align: center;
}

.middle {
    width: 100%; 
    margin-bottom: 50px;
    border-collapse: collapse; 
    border-spacing: 1px; 
    border: 1px solid black;
}

.middle td {
    border: 1px solid black; 
    padding: 5px; 
	height:10px;
}

.table-2 ,tr ,td{
	widht: 100%;
	border:2px solid ;
}

#table-3{
	border:solid black;
}




.green {
    background-color: green;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

#t11 ,#t21, #t31{
	text-align:left;
}
.right{
	text-align:right;
}
#t12,22,32{
	text-align:center;
}
